### DevOps team is notified to garantee consistency ansd security good pratices
### ci-owners team is notified to maintain and improve

/.github/workflows/ @pass-culture/sherif-ops @pass-culture/app-ci-owners
