version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 2
    schedule:
      interval: 'weekly'
    labels:
      - 'e2e'
    ignore:
      - dependency-name: 'react-native'
      - dependency-name: 'react'
      - dependency-name: 'react-native-web'
    commit-message:
      prefix: '(BSR) chore(deps):'
    auto-merge: true
    groups:
      dev-dependencies:
        dependency-type: 'development'
    conditions:
      - base=main
      - check-success="all"

  - package-ecosystem: 'bundler'
    directory: '/'
    open-pull-requests-limit: 2
    schedule:
      interval: 'weekly'
    labels:
      - 'e2e'
    commit-message:
      prefix: '(BSR) chore(deps):'

  - package-ecosystem: 'github-actions'
    directory: '.github/workflows'
    open-pull-requests-limit: 2
    schedule:
      interval: 'weekly'
    labels:
      - 'e2e'
    commit-message:
      prefix: '(BSR) chore(ci):'

  - package-ecosystem: 'npm'
    directory: '/server'
    open-pull-requests-limit: 2
    schedule:
      interval: 'weekly'
    labels:
      - 'e2e'
    commit-message:
      prefix: '(BSR) chore(deps):'
