#!/usr/bin/env bash
if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

strict_env

source_up_if_exists

dotenv_if_exists .env.local

source_env ./scripts/load_certificate.sh

source_env ./scripts/ensure_nix_use_certificate.sh

export NIX_CONFIG="extra-experimental-features = flakes nix-command"
use flake

export DEVBOX_COREPACK_ENABLED=true
eval "$(devbox generate direnv --print-envrc)"

layout node

source_env ./scripts/install_node_modules_when_not_installed.sh

ANDROID_HOME="${ANDROID_HOME:-"$HOME/Library/Android/sdk"}"
if [ -d "$ANDROID_HOME" ]; then
	export ANDROID_HOME
	PATH_add "$ANDROID_HOME/platform-tools"
	PATH_add "$ANDROID_HOME/emulator"
fi

export LANG=en_US.UTF-8

if [ "$(uname)" == "Darwin" ]; then
	if [ ! -d ./ios/Pods/ ]; then
		pushd ./ios/
		bundle install
		bundle exec pod install --repo-update
		popd
	fi
fi
