# also update on Sentry https://sentry.passculture.team/settings/sentry/projects/application-native/ownership/

src/features/auth/                                   @pass-culture/jeunes-activation
src/features/birthdayNotifications/                  @pass-culture/jeunes-conversion
src/features/bookings/                               @pass-culture/jeunes-conversion
src/features/bookOffer/                              @pass-culture/jeunes-conversion
src/features/cookies/                                @pass-culture/jeunes-activation
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-decouverte
src/features/favorites/                              @pass-culture/jeunes-decouverte
src/features/gtlPlaylist/                            @pass-culture/jeunes-conversion
src/features/home/                                   @pass-culture/jeunes-decouverte
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-decouverte
src/features/notifications/                          @pass-culture/jeunes-activation
src/features/offer/                                  @pass-culture/jeunes-decouverte
src/features/profile/                                @pass-culture/jeunes-activation
src/features/search/                                 @pass-culture/jeunes-conversion
src/features/share/                                  @pass-culture/jeunes-activation
src/features/trustedDevice/                          @pass-culture/jeunes-activation
src/features/tutorial/                               @pass-culture/jeunes-activation
src/features/venue/                                  @pass-culture/jeunes-decouverte
