<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatchAPIKey</key>
	<string>$(BATCH_API_KEY_IOS)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(IOS_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(URL_PREFIX)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
				<string>app.passculture</string>
				<string>app.passculture.staging</string>
				<string>app.passculture.test</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(BUILD)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY_IOS)</string>
	<key>Env</key>
	<string>$(ENV)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>citymapper</string>
		<string>comgooglemaps</string>
		<string>navigon</string>
		<string>transit</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>uber</string>
		<string>tomtomhome</string>
		<string>com.sygic.aura</string>
		<string>here-route</string>
		<string>moovit</string>
		<string>lyft</string>
		<string>mapsme</string>
		<string>cabify</string>
		<string>baidumap</string>
		<string>taxis99</string>
		<string>iosamap</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Cette application peut vérifier ton identité avec une photo.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette application a besoin de ta géolocalisation pour te montrer des offres proche de toi.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cette application a besoin de ta géolocalisation pour te montrer des offres proche de toi.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application a besoin de ta géolocalisation pour te montrer des offres proche de toi.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cette application peut vérifier ton identité avec de l'audio</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cette application peut vérifier ton identité avec une photo de votre galerie.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Pour vous offrir les meilleurs offres et une expérience personnalisée</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Black.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
