name: Run Reassure performance tests

on:
  pull_request:
    branches: [master] # Trigger this workflow only when a PR targets master

jobs:
  test-performance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run performance testing script
        run: ./scripts/reassure-test.sh
      - name: Run Danger.js to publish scores in PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn danger ci
      - name: Check if render count increased, fail if so
        run: ./scripts/reassure_test_check.sh
