name: Initiate workflow

on:
  push:

permissions:
  contents: read
  id-token: write

jobs:
  yarn-install:
    uses: ./.github/workflows/dev_on_workflow_install.yml
  check-server-folder-changes:
    name: Check server folder changes
    uses: ./.github/workflows/dev_on_workflow_check_folder_change.yml
    with:
      folder: server
  check-storybook-folder-changes:
    name: Check storybook folder changes
    uses: ./.github/workflows/dev_on_workflow_check_folder_change.yml
    with:
      folder: |
        .storybook/**
        src/**'
  yarn-linter:
    needs: yarn-install
    uses: ./.github/workflows/dev_on_workflow_linter_ts.yml
  yarn-tester:
    needs: yarn-linter
    uses: ./.github/workflows/dev_on_workflow_tester.yml
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  yarn-chromatic:
    needs: [yarn-linter, check-storybook-folder-changes]
    uses: ./.github/workflows/dev_on_workflow_chromatic.yml
    if: needs.check-storybook-folder-changes.outputs.folder_changed == 'true'
    secrets:
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
  soft-deploy-testing:
    needs: yarn-tester
    if: github.ref == 'refs/heads/master'
    uses: ./.github/workflows/dev_on_workflow_environment_deploy.yml
    with:
      TYPE: soft
      ENV: testing
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  hard-deploy-testing:
    needs: yarn-tester
    if: startsWith(github.ref, 'refs/tags/testing')
    uses: ./.github/workflows/dev_on_workflow_environment_deploy.yml
    with:
      TYPE: hard
      ENV: testing
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  hard-deploy-android-staging:
    needs: yarn-tester
    if: startsWith(github.ref, 'refs/tags/patch') || startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/dev_on_workflow_environment_deploy.yml
    with:
      TYPE: hard
      ENV: staging
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  hard-deploy-ios-staging:
    needs: yarn-tester
    if: startsWith(github.ref, 'refs/tags/patch') || startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/dev_on_workflow_environment_ios_deploy.yml
    with:
      TYPE: hard
      ENV: staging
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  deploy-web-testing:
    needs: soft-deploy-testing
    uses: ./.github/workflows/dev_on_workflow_web_deploy.yml
    with:
      ENV: testing
      BUCKET_NAME: passculture-metier-ehp-testing-decliweb
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  deploy-web-staging:
    needs: [hard-deploy-android-staging, hard-deploy-ios-staging]
    uses: ./.github/workflows/dev_on_workflow_web_deploy.yml
    with:
      ENV: staging
      BUCKET_NAME: passculture-metier-ehp-staging-decliweb
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  deploy-web-proxy-testing:
    needs: [check-server-folder-changes, deploy-web-testing]
    if: needs.check-server-folder-changes.outputs.folder_changed == 'true'
    uses: ./.github/workflows/dev_on_workflow_web_proxy_deploy.yml
    with:
      ENV: testing
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
  deploy-web-proxy-staging:
    needs: [check-server-folder-changes, deploy-web-staging]
    if: needs.check-server-folder-changes.outputs.folder_changed == 'true'
    uses: ./.github/workflows/dev_on_workflow_web_proxy_deploy.yml
    with:
      ENV: staging
    secrets:
      GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
