name: '4 [on_workflow] iOS deploy'

on:
  workflow_call:
    inputs:
      CACHE_BUCKET_NAME:
        type: string
        required: true
      ENV:
        type: string
        required: true
    secrets:
      GCP_EHP_SERVICE_ACCOUNT:
        required: true
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER:
        required: true

jobs:
  sentry_and_deploy:
    name: 'Install runtime environment and dependencies iOS deploy'
    runs-on: macos-14
    timeout-minutes: 60
    steps:
      - name: Is deployment targeting ehp or production
        id: cloudenv
        run: |
          if [ "${{ inputs.ENV }}" != "production" ]; then
            echo "cloud_env=ehp" >> $GITHUB_OUTPUT
          else
            echo "cloud_env=prod" >> $GITHUB_OUTPUT
          fi
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@safe-chain-setup/v1.0.0
        if: ${{ inputs.ENV == "testing "}}
      - name: Setup yarn
        run: npm install -g yarn
      - name: Enable Corepack
        run: corepack enable
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: pass-culture-github-actions/cache@v1.0.0
        id: yarn-modules-cache
        with:
          path: |
            node_modules
            ~/.cache/yarn
          key: v1-yarn-dependency-cache-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            v1-yarn-dependency-cache-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          bucket: ${{ inputs.CACHE_BUCKET_NAME }}
          workload-identity-provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service-account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      - name: Yarn install
        run: yarn install
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Select XCode version
        run: |
          XCODE_VERSION="$(cat ./.xcode-version)"
          sudo xcode-select --switch /Applications/Xcode_${XCODE_VERSION}.app/Contents/Developer
      - name: Show available XCode's SDKs
        run: xcodebuild -showsdks
      - name: Install cocoapods
        run: cd ios/ && bundle exec pod install
      - name: Authentification to Google
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      - name: Get Secret from Secret Manager
        id: 'secrets'
        uses: 'google-github-actions/get-secretmanager-secrets@v3'
        with:
          secrets: |-
            FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD:passculture-metier-ehp/passculture-app-native-ios-fastlane-password
            IOS_APPCENTER_API_TOKEN:passculture-metier-ehp/passculture-app-native-ios-${{ inputs.ENV }}-token
            IOS_GOOGLE_SERVICES_PLIST:passculture-metier-${{ steps.cloudenv.outputs.cloud_env }}/pc-native-ios-google-service-${{ inputs.ENV }}
            MATCH_GIT_URL:passculture-metier-ehp/passculture-app-native-match-git-url
            MATCH_PASSWORD:passculture-metier-ehp/passculture-app-native-match-password
            MATCH_SSH_KEY:passculture-metier-ehp/passculture-app-native-match-ssh-key
            MATCH_USERNAME:passculture-metier-ehp/passculture-app-native-match-username
            SENTRY_AUTH_TOKEN:passculture-metier-ehp/pcapi-native-sentry-saas-token
      - name: Get Secret for App Distribution from Secret Manager (EHP only)
        id: 'app_distribution_secret'
        uses: 'google-github-actions/get-secretmanager-secrets@v3'
        with:
          secrets: |-
            FIREBASE_TOKEN:passculture-metier-ehp/pc_native_${{ inputs.ENV }}_firebase_json
        if: ${{ inputs.ENV != 'production' }}
      - name: Export firebase secret to file
        run: |
          echo '${{steps.app_distribution_secret.outputs.FIREBASE_TOKEN}}' > app_distribution_credentials.json
      - name: 'Render Template'
        run: |
          cp templates_github_ci/.sentryclirc .sentryclirc
          sed '$d' .sentryclirc
          echo "token=${{ steps.secrets.outputs.SENTRY_AUTH_TOKEN }}" >> .sentryclirc
      - name: Setup iOS Google services config
        run: echo '${{ steps.secrets.outputs.IOS_GOOGLE_SERVICES_PLIST }}' > ios/GoogleService-Info.plist
      - name: Add ssh key needed
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{  steps.secrets.outputs.MATCH_SSH_KEY }}
      - name: Deploy hard ios for ${{ inputs.ENV }}
        run: |
          if [ "${{ inputs.ENV }}" != "production" ]; then
            bundle exec fastlane ios deploy firebase_token:"${GOOGLE_APPLICATION_CREDENTIALS}" --env ${{ inputs.ENV }} --verbose
          else
            bundle exec fastlane ios deploy --env ${{ inputs.ENV }} --verbose
          fi
        env:
          LC_ALL: en_US.UTF-8
          LANG: en_US.UTF-8
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ steps.secrets.outputs.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
          IOS_APPCENTER_API_TOKEN: ${{ steps.secrets.outputs.IOS_APPCENTER_API_TOKEN }}
          MATCH_PASSWORD: ${{ steps.secrets.outputs.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ steps.secrets.outputs.MATCH_USERNAME }}
          MATCH_GIT_URL: ${{ steps.secrets.outputs.MATCH_GIT_URL }}
          GOOGLE_APPLICATION_CREDENTIALS: ./app_distribution_credentials.json
      - name: Create Sentry sourcemaps
        run: bash -c 'source scripts/upload_sourcemaps_to_sentry.sh;upload_sourcemaps "ios" ${{ inputs.ENV }}'

  slack_notify:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    if: ${{ always() && (contains(needs.sentry_and_deploy.result, 'success') || contains(needs.sentry_and_deploy.result, 'failure'))}}
    needs: sentry_and_deploy
    steps:
      - name: Connect to Secret Manager
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
      - name: Get secrets for Slack
        id: 'slack_secrets'
        uses: 'google-github-actions/get-secretmanager-secrets@v3'
        with:
          secrets: |-
            SLACK_BOT_TOKEN:passculture-metier-ehp/passculture-ci-slack-bot-token
      - name: Post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.27.0
        with:
          # channel #alertes-deploiement-native
          channel-id: 'C0309RP8K42'
          payload: |
            {
              "attachments": [
                  {
                      "mrkdwn_in": ["text"],
                      "color": "${{ fromJSON('["#36a64f", "#A30002"]')[needs.sentry_and_deploy.result == 'failure'] }}",
                      "author_name": "${{github.actor}}",
                      "author_link": "https://github.com/${{github.actor}}",
                      "author_icon": "https://github.com/${{github.actor}}.png",
                      "title": "PCAPPNATIVE Deployment",
                      "title_link": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}",
                      "text": "Le déploiement iOS sur `${{ inputs.ENV }}` a ${{ fromJSON('["réussi :rocket:", "échoué :boom:"]')[needs.sentry_and_deploy.result == 'failure'] }}"
                  }
              ],
              "unfurl_links": false,
              "unfurl_media": false
            }
        env:
          SLACK_BOT_TOKEN: ${{ steps.slack_secrets.outputs.SLACK_BOT_TOKEN }}
