name: '2 [on_workflow] E2E Web tests suite on Staging'

on:
  workflow_call:
    secrets:
      GCP_EHP_SERVICE_ACCOUNT:
        required: true
      GCP_EHP_WORKLOAD_IDENTITY_PROVIDER:
        required: true

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  run_e2e_web:
    name: 'E2E test Staging Web'
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@main
      - name: Enable Corepack
        run: corepack enable
      - uses: pass-culture-github-actions/cache@v1.0.0
        id: yarn-modules-cache
        with:
          path: |
            node_modules
            ~/.cache/yarn
          key: v1-yarn-dependency-cache-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            v1-yarn-dependency-cache-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          bucket: ${{ secrets.CACHE_BUCKET_NAME }}
          workload-identity-provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service-account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}

      - name: Yarn install
        run: yarn install

      - name: Authentification to Google
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}

      - name: Get secrets for Maestro
        id: maestro_secrets
        uses: google-github-actions/get-secretmanager-secrets@v3
        with:
          secrets: |-
            MAESTRO_PASSWORD:passculture-metier-ehp/passculture-app-native-e2e-maestro-password
            MAESTRO_CLOUD_API_KEY:passculture-metier-ehp/passculture-app-native-e2e-maestro-cloud-api-key
            ROBIN_API_KEY:passculture-metier-ehp/passculture-app-native-e2e-robin-api-key

      - name: Determine latest Maestro version
        run: |
          MAESTRO_VERSION=$(curl -s https://api.github.com/repos/mobile-dev-inc/maestro/releases/latest | grep tag_name | cut -d '"' -f4 | sed 's/^cli-//;s/^v//')
          echo "MAESTRO_VERSION=$MAESTRO_VERSION" >> $GITHUB_ENV

      - name: Cleanup Maestro CLI
        run: |
          echo "Cleaning up any previous Maestro CLI installation..."
          rm -rf $HOME/.maestro

      - name: Generate Maestro Web upload name
        id: generate_web_name
        run: |
          DATE=$(date +"%d/%m/%Y")
          COMMIT_HASH=$(git rev-parse --short=8 HEAD)
          CUSTOM_NAME="[Web]_Staging_du_${DATE}_(${COMMIT_HASH})"
          echo "CUSTOM_NAME=$CUSTOM_NAME" >> $GITHUB_ENV

      - name: Install latest Maestro CLI
        run: |
          echo "Installing Maestro CLI version ${MAESTRO_VERSION}..."
          curl --location --silent "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> $GITHUB_PATH
          export PATH=$HOME/.maestro/bin:$PATH
          maestro --version
        env:
          MAESTRO_VERSION: ${{ env.MAESTRO_VERSION }}

      - name: Run Maestro E2E Web Tests in cloud on Staging
        env:
          MAESTRO_PASSWORD: ${{ steps.maestro_secrets.outputs.MAESTRO_PASSWORD }}
          MAESTRO_CLOUD_API_KEY: ${{ steps.maestro_secrets.outputs.MAESTRO_CLOUD_API_KEY }}
          ROBIN_API_KEY: ${{ steps.maestro_secrets.outputs.ROBIN_API_KEY }}
          ROBIN_PROJECT_ID: proj_01javz1ncreqb9dcshv3y4da44
          MAESTRO_VALID_IOS_EMAIL: dev-tests-e2e-ios@passculture.team
          MAESTRO_VALID_ANDROID_EMAIL: dev-tests-e2e-android@passculture.team
          MAESTRO_INVALID_EMAIL: dev-tests-e2e-invalid@passculture.team
          MAESTRO_UNREGISTERED_EMAIL: dev-tests-unregistered+e2e@passculture.team
          MAESTRO_RUN_TRACKING_TESTS: false
          MAESTRO_RUN_CLOUD_COMMANDS: false
          MAESTRO_DRIVER_STARTUP_TIMEOUT: 60000
        run: |
          echo "Running Maestro tests on last released web Staging"
          export PATH=$HOME/.maestro/bin:$PATH
          yarn test:e2e:web:staging:cloud --name "$CUSTOM_NAME"
