name: '3 [on_pr] Check PR title format'

on:
  pull_request:
    branches: [master]
    types:
      - opened
      - edited
      - synchronize

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: '^(\((PC-[0-9]+|BSR|IC-[0-9]+)\) )?(build|ci|docs|feat|fix|perf|refactor|test|chore)\(\w+\): \w+'
