name: Tests e2e Browser Chrome

on:
  workflow_dispatch:
    inputs:
      wdio-demo:
        type: boolean
        description: WebdriverIO demo - All other params will be ignored
        required: true
        default: false
      environment:
        type: environment
        description: Select the environment
        required: true
        default: staging
      build-local:
        type: boolean
        description: if true it will run the webapp locally
        default: false

jobs:
  e2e-browser-chrome:
    env:
      CI: true
      DEV_TEST_SERVER_HOST: localhost
      DEV_TEST_SERVER_PORT: 3000
      DEV_TEST_SERVER_STARTUP_TIMEOUT_SEC: 60
      _FORCE_LOGS: 1
      WDIO_DEMO: ${{ inputs.wdio-demo }}
      BUILD_LOCAL: ${{ inputs.build-local }}
      ENVIRONMENT: ${{ inputs.environment }}
    runs-on: macos-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: yarn install

      - name: Download WebdriverIO demo
        if: ${{ env.WDIO_DEMO == 'true' }}
        run: yarn e2e:install.demo

      - uses: browser-actions/setup-chrome@latest

      - run: chromium --version

      - run: which chromedriver

      - name: Sets WDIO_BASE_URL for local or distributed Web app
        if: ${{ env.WDIO_DEMO == 'false' }}
        run: |
          if [[ "${{ env.BUILD_LOCAL }}" = "true" ]]; then
            echo "WDIO_BASE_URL=http://${{ env.DEV_TEST_SERVER_HOST }}:${{ env.DEV_TEST_SERVER_PORT }}" >> $GITHUB_ENV
          elif [[ "${{ env.ENVIRONMENT }}" = "testing" ]]; then
            echo "WDIO_BASE_URL=https://app.testing.passculture.team" >> $GITHUB_ENV
          elif [[ "${{ env.ENVIRONMENT }}" = "staging" ]]; then
            echo "WDIO_BASE_URL=https://app.staging.passculture.team" >> $GITHUB_ENV
          fi

      - name: Start Local dev server ${{ inputs.environment }}
        if: ${{ (env.WDIO_DEMO == 'false') && (env.BUILD_LOCAL == 'true') }}
        run: |
          cwd=$(pwd)
          pushd "$cwd"
          nohup yarn start:web:${{ env.ENVIRONMENT }} \
            2>&1 > "$cwd/webpack-dev-server.log" &
          popd

      - run: yarn e2e:browser.chrome

      - name: Save chromedriver output
        if: ${{ always() }}
        uses: actions/upload-artifact@master
        with:
          name: logs-wdio-chromedriver
          path: logs/wdio-chromedriver.log

      - name: Show chromedriver server output
        if: ${{ always() }}
        run: cat logs/wdio-chromedriver.log

      - name: Save dev server output
        if: ${{ (always()) && (env.WDIO_DEMO == 'false') && (env.BUILD_LOCAL == 'local') }}
        uses: actions/upload-artifact@master
        with:
          name: webpack-dev-server-chrome
          path: webpack-dev-server.log

      - name: Show dev server output
        if: ${{ (always()) && (env.WDIO_DEMO == 'false') && (env.BUILD_LOCAL == 'local') }}
        run: cat webpack-dev-server.log
