name: Tests e2e iOS App

on:
  workflow_dispatch:
    inputs:
      wdio-demo:
        type: boolean
        description: WebdriverIO demo - All other params will be ignored
        required: true
        default: false
      environment:
        type: environment
        description: Select the environment
        required: true
        default: staging
      specs:
        type: string
        description: |
          Define specs for test execution. You can either specify a glob
          pattern to match multiple files at once or wrap a glob or set of
          paths into an array using "," delimiter to run them within a single worker process.
          [Default: run all tests]
        required: false

jobs:
  build-simu-ios-zip:
    name: Build iOS simulator zip
    if: ${{ inputs.wdio-demo == false }}
    uses: ./.github/workflows/reusable-e2e-buildsimuioszip.yml
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}

  e2e-ios-app:
    needs: build-simu-ios-zip
    if: ${{ always() }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - osVersion: '15.2'
            os: 'iOS'
            model: 'iPhone 13'
    env:
      CI: true
      APPIUM_TEST_SERVER_PORT: 4723
      APPIUM_TEST_SERVER_HOST: 127.0.0.1
      APPIUM_STARTUP_TIMEOUT_SEC: 30
      _FORCE_LOGS: 1
      WDIO_DEMO: ${{ inputs.wdio-demo }}
      ENVIRONMENT: ${{ inputs.environment }}
      SPECS: ${{ inputs.specs }}
    runs-on: macos-11
    environment: ${{ inputs.environment }}
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - uses: actions/checkout@v3

      - uses: futureware-tech/simulator-action@v2

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - uses: ruby/setup-ruby@v1

      - name: Install dependencies
        run: yarn install

      - name: Download WebdriverIO demo
        if: ${{ env.WDIO_DEMO == 'true' }}
        run: ./scripts/install-e2e-wdio-demo.sh e2e/tests/wdio-demo

      - name: Download artifact build simulator iOS
        if: ${{ env.WDIO_DEMO == 'false' }}
        uses: actions/download-artifact@v3
        with:
          name: build-simu-ios-zip

      - name: Add IOS_IPA_PATH to Environment variable
        if: ${{ env.WDIO_DEMO == 'false' }}
        run: echo "IOS_IPA_PATH=./PassCulture.zip" >> $GITHUB_ENV

      - name: Install extraneous dev dependencies
        run: |
          npm config set legacy-peer-deps true
          npm install -g appium@next
          appium driver install xcuitest
          appium driver install safari

      - name: Start Appium server
        run: |
          cwd=$(pwd)
          pushd "$cwd"
          cd ~
          nohup appium server \
            --port=$APPIUM_TEST_SERVER_PORT \
            --address=$APPIUM_TEST_SERVER_HOST \
            --relaxed-security \
            2>&1 > "$cwd/appium.log" &
          popd

      - name: Wait for Appium server startup
        run: |
          seconds_started=$(date +%s)
          while ! nc -z $APPIUM_TEST_SERVER_HOST $APPIUM_TEST_SERVER_PORT; do
            sleep 0.1
            seconds_elapsed=$(( $(date +%s) - seconds_started ))
            if [[ $seconds_elapsed -gt $APPIUM_STARTUP_TIMEOUT_SEC ]]; then
              echo "Appium server was unable to start within $APPIUM_STARTUP_TIMEOUT_SEC seconds timeout"
              exit 1
            fi
          done

      - name: Run functional tests
        run: ENVIRONMENT="${{ env.ENVIRONMENT }}" IOS_DEVICE_NAME="${{ matrix.model }}" IOS_PLATFORM_VERSION="${{ matrix.osVersion }}" APPIUM_APP=${{ env.IOS_IPA_PATH }} yarn e2e:ios.app

      - name: Save server output
        if: ${{ always() }}
        uses: actions/upload-artifact@master
        with:
          name: appium-log-${{ matrix.model }}-${{ matrix.osVersion }}
          path: appium.log

      - name: Show appium server output
        if: ${{ always() }}
        run: cat appium.log

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: fail-screenshots-videos-${{ matrix.model }}-${{ matrix.osVersion }}
          path: e2e/output
          if-no-files-found: ignore
