name: 'TEST check_proxy_version'

on:
  push:
    branches:
      - safe-chain

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
    check-proxy-version-staging:
        name: Check staging proxy tag
        uses: ./.github/workflows/dev_on_workflow_check_proxy_version.yml
        with:
            WEBAPP_URL: https://app.staging.passculture.team