name: 'Test chromatic'

on:
  push:
    branches:
      - safe-chain

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
    yarn-install:
        uses: ./.github/workflows/dev_on_workflow_install.yml
        with:
            CACHE_BUCKET_NAME: passculture-infra-prod-github-runner-cache
        secrets:
            GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
            GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
    check-storybook-folder-changes:
        name: Check storybook folder changes
        uses: ./.github/workflows/dev_on_workflow_check_folder_change.yml
        with:
            folder: |
                .storybook/**
                src/**
    yarn-linter:
        needs: yarn-install
        uses: ./.github/workflows/dev_on_workflow_linter_ts.yml
        with:
            CACHE_BUCKET_NAME: passculture-infra-prod-github-runner-cache
        secrets:
            GCP_EHP_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
            GCP_EHP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
    yarn-chromatic:
        needs: [yarn-linter, check-storybook-folder-changes]
        uses: ./.github/workflows/dev_on_workflow_chromatic.yml
        secrets:
            CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}